<div style="padding-top:50px">
<div style="padding-left:52px;padding-right:55px;box-sizing:border-box;border:1px solid #ededed;margin:0px auto;max-width:600px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;width:100%" width="100%">
<tbody>
<tr>
<td style="border-collapse:collapse;direction:ltr;font-size:0px;padding:20px 0;text-align:left" align="left">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#000000;font-family:Inter,OpenSans,Helvetica,Arial,sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;border:0" width="100%">
<tbody>
<tr>
<td style="border-collapse:collapse;line-height:1">
<img alt="thilaptrinh-uit" src="https://thilaptrinh.uit.edu.vn/wp-content/uploads/2021/03/logo.png" style="border:0;line-height:100%;outline:none;text-decoration:none;border-width:0;width:142px;height:auto;padding-top:26px;padding-bottom:24px" width="142" class="CToWUd">
</td>
</tr>
<tr>
<td align="left" style="border-collapse:collapse;padding:0px 0px 0px 0px;word-break:break-word;margin:0px">
<p style="display:block;font-family:Inter,OpenSans,Helvetica,Arial,sans-serif;line-height:100%;color:#212121;font-size:18px;font-weight:600;margin:0px 0">